<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joan.librohechizos">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_librohechizos"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ListarPersonajes"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CrearPersonaje"
            android:label="@string/activity_crear_personaje"
            android:parentActivityName=".ui.ListarPersonajes"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListarPersonajes" />
        </activity>
        <activity
            android:name=".ui.MostrarHechizo"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LibroDeHechizos" />
        </activity>
        <activity
            android:name=".ui.LibroDeHechizos"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListarPersonajes" />
        </activity>
        <activity
            android:name=".ui.EditarPersonaje"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LibroDeHechizos" />
        </activity>
        <activity android:name=".ui.Donacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListarPersonajes" />
        </activity>
        <activity android:name=".ui.MostrarDote" />
        <activity
            android:name=".ui.ListaDotes"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListarPersonajes" />
        </activity>
    </application>

</manifest>